/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/********************  Edited  ***************************************/

#dashboard-text {
    
    margin-left: 10px;
    
}

.section{
    
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 18px;
    border: 1px solid #D4D7DC;
    border-radius: 4px;
    border-bottom: 2.3px solid #D4D7DC;
    width: 335px;
    height: 300px;
    float: left;
    padding: 10px;
    
}

#first {
    
    width: 1070px;
    height: 300px;
    
}

#second {
    
    width: 1070px;
    height: 340px;
    
}

.heading {
    
    color: #3A3B3E;
    font-weight:460;
    font-size: 110%;
    margin-top: 10px;
}

#profitSelect {
    
    float: right;
    margin-top: -42px;
    border: none;
    font-size: 12px;
    text-align: right;
}

select {
    
    text-align: center;
    text-align-last: right;
    
    
}

option {
    
    text-align: center;
}

#profitDetails {
    
    height: 220px;
    width: 297px;
    
}

#profitAmount {
    
    font-size: 190%;
    color: black;
    margin-top: -15 px;
    font-family: 'Hind', sans-serif;
}

#profitCaption {
    
    font-size: 90%;
    margin-top: -20px;
    font-weight: 400;
}

.Iamount {
    
    font-size: 100%;
    color: black;
    font-weight: bold;
    margin-top:35px ;
    font-family: 'Hind', sans-serif;
}

.Itext {
    
    font-size: 85%;
    margin-top: -24px;
    font-weight: 400;
}

.Eamount {
    
    font-size: 100%;
    color: black;
    font-weight: bold;
    margin-top: -14px;
    font-family: 'Hind', sans-serif;
}

.Etext {
    
    font-size: 85%;
    margin-top: -20px;
    font-weight: 400;
}

#iBox {
    
    background-color:#54B701;
    width: 0;
    height: 26px;
    float: left;
    margin-left: 85px;
    margin-top: -47.5px;
}

#eBox {
    
    background-color:#06A4B5;
    width: 0;
    height: 26px;
    float: left;
    margin-left: 85px;
    margin-top: -47.5px;
}

#expensesSelect {
    
    float: right;
    margin-top: -42px;
    border: none;
    font-size: 12px;
    text-align: right;
}

#expensesAmount {
    
    font-size: 190%;
    color: black;
    margin-top: -15 px;
    font-family: 'Hind', sans-serif;
    
}

#expensesCaption {
    
    font-size: 90%;
    margin-top: -20px;
    font-weight: 400;
}

#pieChart {
    
    height: 20px;
    width: 48px;
    margin-left: -80px;
}

#st {
    
    height: 10px;
    width: 10px;
    background-color: #017674;
    margin-top: -110px;
    margin-left: 210px;
    
}

#nd {
    
    height: 10px;
    width: 10px;
    background-color: #019996;
    margin-top: 20px;
    margin-left: 210px;
    
}

#rd {
    
    height: 10px;
    width: 10px;
    background-color: #01ADAB;
    margin-top: 20px;
    margin-left: 210px;
}

#stT {
    
    float: right;
    margin-top: -16px;
    margin-right: 65px;
    font-size: 100%;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: #656568;
}

#ndT {
    
    float: right;
    margin-top: -16px;
    margin-right: 65px;
    font-size: 100%;
    font-family: 'Hind', sans-serif;
    color: #656568;
    font-weight: 600;
}

#rdT {
    
    float: right;
    margin-top: -16px;
    margin-right: 65px;
    font-size: 100%;
    font-family: 'Hind', sans-serif;
    color: #656568;
    font-weight: 600;
}




/********************  Edited  ***************************************/

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
textarea {
    resize: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    outline: none ;
}

.navbar {
    
    background: #fff;
    border: none;
    outline: none ;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none ;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;

    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    outline: none ;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    outline: none ;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    outline: none ;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    outline: none ;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    outline: none ;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #7386D5;
    outline: none ;
    border-left-style: solid;
    border-left-width: 10;
    border-left-color:#7386D5; 
    background: #e3f2fd;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    outline: none ;
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
